/* Backup reset style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

.off {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
}

html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;

  body {
    padding: 1rem;
    main {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  /* dark mode */
  *:not(i):not(td):not(th):not(img):not(.notification) {
    color: var(--color-contrast);
    background-color: var(--color-default);
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  h1 {
    font-size: 1.3rem;
    text-wrap: nowrap;
    margin-right: 20px;
  }

  @media screen and (max-width: 740px) {
    .filter-container {
      display: none;
    }
  }
}

button.default {
  border: none;
  background: none;
  cursor: pointer;
}

button:not(.default) {
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 10px;
  background: var(--color-indentifier);
  box-shadow: inset 7px 7px 14px var(--color-inset),
    inset -7px -7px 14px var(--color-secondary);
  border: solid 1px var(--color-border);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  font-family: "Nunito", sans-serif;
  &:hover {
    background: var(--color-indentifier-use);
    box-shadow: inset 7px 7px 14px var(--color-inset-use),
      inset -7px -7px 14px var(--color-secondary-use);
  }

  &.primary {
    background: var(--b-primary);
    box-shadow: inset 7px 7px 14px var(--b-primary-inset),
      inset -7px -7px 14px var(--b-primary-shadow);
    color: white !important;

    &:hover {
      background: var(--b-primary-h);
      box-shadow: inset 7px 7px 14px var(--b-primary-h-inset),
        inset -7px -7px 14px var(--b-primary-h-shadow);
    }
  }

  &.warning {
    background: #ed333b;
    box-shadow: inset 10px 10px 21px #c92b32, inset -10px -10px 21px #ff3b44;
    color: var(--color-f-contrast) !important;

    &:hover {
      background: #c91b21;
      box-shadow: inset 10px 10px 21px #c92b32, inset -10px -10px 21px #ff3b44;
    }
  }
}

.table-wrapper {
  margin: 1rem 0;
  overflow-x: auto;
  max-height: 85dvh;
  border-radius: 3px;
}

table th {
  /* Apply both top and bottom borders to the <th> */
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 7px 10px !important;

  .wrapper {
    background-color: transparent !important;
    width: 100%;
    display: flex;
    align-items: center;

    > * {
      background-color: transparent !important;
    }

    > span {
      cursor: pointer;
    }
  }
}

table thead th {
  position: sticky;
  top: 0;
  background-color: var(--color-fade);
}

table {
  width: 100%;
  min-width: 600px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--color-border);
  border-top: none;
  animation: animationIn 0.2 ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;

  tbody tr {
    background-color: var(--color-default) !important;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: var(--color-fade) !important;
    }
  }

  tbody tr.invalid td p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: transparent !important;
    font-style: italic;
    opacity: 0.5;
  }

  tbody tr:nth-child(1) > td {
    border-top: none !important;
  }

  th,
  td {
    text-align: start;
    padding: 13px 10px;
  }

  thead {
    background: var(--color-unique);
    font-size: 0.9rem;
    position: sticky;
    top: 0;
    font-weight: bold;
  }

  thead > tr {
    border: 1px solid var(--color-border) !important;
  }

  td {
    border-top: 1px solid var(--color-border);
    vertical-align: middle;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  td.action,
  th.action {
    text-align: center;
  }

  td#nama {
    div {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: transparent;
    }
  }
}

/* prompt */
.prompt-frame {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &.closed {
    animation: animationOut 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }

  .prompt {
    animation: fadeIn 0.2s ease-in-out;
    &.closed {
      animation: fadeOut 0.2s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}

.prompt {
  background: var(--color-default);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 380px;
  width: 100%;
  border: solid 1px var(--color-border);
  position: relative;
  display: none;

  .close {
    position: absolute;
    background: var(--color-indentifier-use);
    border: var(--color-border) solid 1px;
    top: -1.2rem;
    right: -1.2rem;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 2rem;
    height: 2rem;
    &:hover {
      background: var(--color-indentifier);
    }
    & > svg {
      background-color: transparent !important;
    }
  }
}

#createPrompt.active {
  display: block;
}

#editPrompt.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  .button-group {
    display: flex;
    gap: 1rem;

    button {
      flex-grow: 1;
    }
  }

  .errorNote {
    font-size: 0.75rem;
    color: var(--color-invalid) !important;
    font-style: italic;
    &.active::before {
      content: "* ";
    }
  }

  .input-group {
    display: flex;
    gap: 8px;
    align-items: start;
    flex-direction: column;
    width: 100%;

    @media screen and (max-width: 350px) {
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;
    }

    label {
      flex-shrink: 0;
      font-size: 14px;
      width: 60px;

      @media screen and (max-width: 350px) {
        width: 100%;
      }
    }

    input,
    select {
      font-family: "Nunito", sans-serif;
      padding: 5px 10px;
      border: solid 1px var(--color-border);
      border-radius: 3px;

      &:not(.ignore) {
        width: 100%;
        flex: 1;
      }

      &:focus {
        outline: none;
        border-color: var(--color-unique);
      }

      &[disabled] {
        color: gray;
      }
    }

    select.invalid {
      color: gray;
    }

    &.error {
      input,
      select,
      option {
        border-color: var(--color-invalid);

        &::placeholder {
          color: var(--color-invalid);
        }

        &:focus {
          border-color: var(--color-invalid);
        }
      }

      select {
        color: var(--color-invalid);
      }

      label {
        color: var(--color-invalid);
      }
    }
  }

  .image-input-opt {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

    select {
      flex-shrink: 1;
      width: min-content;
    }

    .disabled {
      display: none;
    }

    .image-url-input {
      flex-grow: 1;
      width: 100%;
    }

    .image-upload-input {
      margin-left: 1rem;
      overflow: hidden;
      input {
        display: none;
      }
    }
  }
}

#toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 9999;
  background-color: transparent;

  .notification {
    background-color: var(--color-default);
    padding: 1rem 1rem 1.2rem 1rem;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    border: solid 1px var(--color-border);
    position: relative;
    overflow: hidden;
    animation: slideUp 0.2s ease-in-out;

    &.timeout {
      animation: animationOut 0.2s ease-in-out forwards;
    }

    p {
      background-color: transparent;
    }

    .ribbon {
      width: 100%;
      height: 6px;
      background-color: var(--color-unique);
      position: absolute;
      bottom: 0;
      left: 0;

      &.primary {
        background-color: #287ee6;
      }

      &.error {
        background-color: var(--color-invalid);
      }

      &.warning {
        background-color: rgb(243, 243, 102);
      }
    }
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 0.25rem;
}

.tambah-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: transparent !important;
  & * {
    background-color: transparent !important;
    color: white !important;
  }
}

.no-bg {
  background-color: transparent !important;
}

.filter-container-mobile {
  display: none;
}

@media screen and (max-width: 740px) {
  .filter-container-mobile {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: end;
    margin-top: 1rem;

    .input-wrapper {
      display: flex;
      position: relative;
      flex: 1;
      transition: all 0.15s ease-in;
      overflow: hidden;

      svg {
        position: absolute;
        background-color: transparent !important;
        transition: all 0.15s ease-in;

        top: 50%;
        transform: translateY(-50%);
        right: 10px;

        z-index: 2;
      }

      input {
        font-family: "Nunito", sans-serif;
        padding: 5px 10px;
        border: solid 1px var(--color-border);
        border-radius: 3px;
        height: 34px;
        width: 100%;
        transition: all 0.15s ease-in;
        align-self: flex-end;
        z-index: 2;
        cursor: text;

        &:focus {
          outline: none;
          border-color: var(--color-unique);
        }
      }
    }
    .filter-produk {
      display: flex;
    }
  }
}

.filter-container {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: end;

  .input-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    max-width: 34px;
    transition: all 0.15s ease-in;
    overflow: hidden;

    input {
      opacity: 0;
    }

    &:focus-within {
      max-width: 100%;

      input {
        opacity: 1;
        cursor: text;
      }

      svg {
        left: -10%;
      }
    }

    svg {
      position: absolute;
      background-color: transparent !important;
      transition: all 0.15s ease-in;

      top: 50%;
      transform: translateY(-50%);
      left: 20%;

      z-index: 1;
    }

    input {
      font-family: "Nunito", sans-serif;
      padding: 5px 10px;
      border: solid 1px var(--color-border);
      border-radius: 3px;
      height: 34px;
      width: 100%;
      transition: all 0.15s ease-in;
      align-self: flex-end;
      z-index: 2;
      cursor: pointer;

      &:focus {
        outline: none;
        border-color: var(--color-unique);
      }
    }
  }
  .filter-produk {
    display: flex;
  }
}

.label-toggle {
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  transition: all ease-in-out 100ms;
  cursor: pointer;
  svg {
    background-color: transparent !important;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 740px) {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .index_buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    i {
      cursor: pointer;
    }

    .pagination-lists {
      display: flex;
      gap: 1rem;

      p {
        cursor: pointer;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 2px;
        color: var(--color-contrast);
        opacity: 0.5;
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10+ */

        &.active {
          animation: fadeIn 0.2s ease-in-out;
          font-weight: bold;
          background-color: var(--color-unique);
          color: var(--color-contrast);
          opacity: 1 !important;
        }
      }
    }
  }
}
