/* Backup reset style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-default: #e7e7e7;
  --color-accent: #ededed;
  --color-unique: #ededed;
  --color-contrast: #000000;

  /* element etc. */
  --color-indentifier: #e0e0e0;
  --color-inset: #d3d3d3;
  --color-secondary: #ededed;

  --color-indentifier-use: #deddda;
  --color-inset-use: #d1d0cd;
  --color-secondary-use: #ebeae7;

  --color-border: rgba(0, 0, 0, 0.2);

  --color-invalid: rgb(245, 64, 64);

  --color-fade: rgb(235, 235, 235);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-default: #161616;
    --color-accent: #151515;
    --color-unique: #2a2a2a;
    --color-contrast: #ffffff;

    /* element etc. */
    --color-indentifier: #212121;
    --color-inset: #1f1f1f;
    --color-secondary: #232323;

    --color-indentifier-use: #0e0d0d;
    --color-inset-use: #0d0c0c;
    --color-secondary-use: #0f0e0e;

    --color-border: rgba(135, 135, 135, 0.2);

    --color-fade: rgb(29, 29, 29);
  }
}
html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;

  body {
    padding: 1rem;
    overflow: hidden;
    main {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  /* dark mode */
  *:not(i):not(td):not(th):not(img):not(.notification) {
    color: var(--color-contrast);
    background-color: var(--color-default);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    translate: 0 -10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    translate: -10px 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    translate: 0 10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes animationOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.3rem;
  }
}

button.default {
  border: none;
  background: none;
  cursor: pointer;
}

button:not(.default) {
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 10px;
  background: var(--color-indentifier);
  box-shadow: inset 7px 7px 14px var(--color-inset),
    inset -7px -7px 14px var(--color-secondary);
  border: solid 1px var(--color-border);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  font-family: "Nunito", sans-serif;
  &:hover {
    background: var(--color-indentifier-use);
    box-shadow: inset 7px 7px 14px var(--color-inset-use),
      inset -7px -7px 14px var(--color-secondary-use);
  }

  &.primary {
    background: #287ee6;
    box-shadow: inset 7px 7px 14px #2676d8, inset -7px -7px 14px #2a86f4;
    color: white;

    &:hover {
      background: #1b6ad6;
      box-shadow: inset 7px 7px 14px #1a6ad6, inset -7px -7px 14px #2a86f4;
    }
  }

  &.warning {
    background: #ed333b;
    box-shadow: inset 10px 10px 21px #c92b32, inset -10px -10px 21px #ff3b44;

    &:hover {
      background: #c91b21;
      box-shadow: inset 10px 10px 21px #c92b32, inset -10px -10px 21px #ff3b44;
    }
  }
}

.wrapper {
  margin: 1rem 0;
  overflow-x: auto;
  overflow-y: scroll;
  max-height: 90dvh;
  border-radius: 3px;
}

table {
  width: 100%;
  min-width: 600px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--color-border);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  overflow: hidden;

  tbody tr {
    background-color: var(--color-default);
    transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: var(--color-fade);
    }
  }

  th,
  td {
    border: 1px solid var(--color-border);
    padding: 10px 10px;
  }

  thead tr {
    background: var(--color-unique);
    font-size: 0.9rem;
    position: sticky;
    top: 0;
    font-weight: bold;
  }

  td {
    text-align: center;
    vertical-align: middle;
    img {
      width: 100%;
      height: 80px;
      object-fit: contain;
    }
  }
}

/* prompt */
.prompt-frame {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .prompt {
    animation: fadeIn 0.2s ease-in-out;
  }
}

.prompt {
  background: var(--color-default);
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 380px;
  width: 100%;
  border: solid 1px var(--color-border);
  position: relative;
  display: none;

  .close {
    position: absolute;
    background: var(--color-indentifier-use);
    border: var(--color-border) solid 1px;
    top: -1.2rem;
    right: -1.2rem;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: var(--color-indentifier);
    }
  }
}

#createPrompt.active {
  display: block;
}

#editPrompt.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  .button-group {
    display: flex;
    gap: 1rem;

    button {
      flex-grow: 1;
    }
  }

  .errorNote {
    font-size: 0.75rem;
    color: var(--color-invalid);
    font-style: italic;
    &.active::before {
      content: "* ";
    }
  }

  .input-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    width: 100%;

    @media screen and (max-width: 350px) {
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;
    }

    label {
      flex-shrink: 0;
      font-size: 0.95rem;
      width: 60px;

      @media screen and (max-width: 350px) {
        width: 100%;
      }
    }

    input,
    select {
      font-family: "Nunito", sans-serif;
      padding: 5px 10px;
      border: solid 1px var(--color-border);
      border-radius: 3px;

      &:not(.ignore) {
        width: 100%;
        flex: 1;
      }

      &:focus {
        outline: none;
        border-color: var(--color-unique);
      }

      &[disabled] {
        color: gray;
      }
    }

    select.invalid {
      color: gray;
    }

    &.error {
      input,
      select,
      option {
        border-color: var(--color-invalid);

        &::placeholder {
          color: var(--color-invalid);
        }

        &:focus {
          border-color: var(--color-invalid);
        }
      }

      select {
        color: var(--color-invalid);
      }

      label {
        color: var(--color-invalid);
      }
    }
  }

  .image-input-opt {
    display: flex;
    align-items: center;

    select {
      flex-shrink: 1;
      width: min-content;
    }

    .disabled {
      display: none;
    }

    .image-url-input {
      flex-grow: 1;
      width: 100%;
    }

    .image-upload-input {
      margin-left: 1rem;
      overflow: hidden;
      input {
        display: none;
      }
    }
  }
}

#toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 9999;

  .notification {
    background-color: var(--color-default);
    padding: 1rem 1rem 1.2rem 1rem;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    border: solid 1px var(--color-border);
    position: relative;
    overflow: hidden;
    animation: slideUp 0.2s ease-in-out;

    &.timeout {
      animation: animationOut 0.2s ease-in-out forwards;
    }

    p {
      background-color: transparent;
    }

    .ribbon {
      width: 100%;
      height: 6px;
      background-color: var(--color-unique);
      position: absolute;
      bottom: 0;
      left: 0;

      &.primary {
        background-color: #287ee6;
      }

      &.error {
        background-color: var(--color-invalid);
      }

      &.warning {
        background-color: rgb(243, 243, 102);
      }
    }
  }
}
